@tailwind base;
@tailwind components;
@tailwind utilities;

.remirror-is-empty {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: left;
}

.remirror-is-empty:first-of-type::before {
  font-style: normal !important;
}

.remirror-editor-wrapper {
  padding: 0 !important;
}

.ProseMirror {
  margin-left: 8px;
  box-shadow: none !important;
  padding: 0 !important;
  border-radius: 0 !important;
  outline: none !important;
  min-height: var(--rmr-space-4) !important;
}