@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~react-datepicker/dist/react-datepicker.css";

.remirror-is-empty {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: left;
}

.remirror-is-empty:first-of-type::before {
  font-style: normal !important;
}

.remirror-editor-wrapper {
  padding: 0 !important;
}

.ProseMirror {
  margin-left: 8px;
  box-shadow: none !important;
  padding: 0 !important;
  border-radius: 0 !important;
  outline: none !important;
  min-height: 24px !important;
  max-height: 400px !important;
  overflow-y: auto !important;
}

.Mui-selected {
  background-color: #f5f5f5 !important;
}

ul {
  padding-left: 2rem !important;
  list-style: disc !important;
}

ol {
  padding-left: 2rem !important;
  list-style: decimal !important;
}

.create {
  box-shadow: 0px 3px 0px #3F2ABD;
}

.create:active {
  box-shadow: 0px 1px 0px #3F2ABD;
  scale: 0.95;
}

a {
  color: #3F2ABD;
  text-decoration: underline;
}